/* Стилі для оверлею, що затемнює фон */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Стилі для модального вікна */
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  max-height: 80%;
  overflow-y: auto;
}

/* Стилі для зображення в модальному вікні */
.modal img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Стиль для анімації з'явлення модального вікна */
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Застосування анімації до модального вікна */
.modal {
  animation: modalFadeIn 0.3s ease-out;
}
